PORT=3000
BOT_TOKEN=8218040287:AAF3HkBmNpsB6gLYfkU9nuc-MxJlgkxbSJs
BOT_USERNAME=FREENUMBERPLUSBOT
PROVIDER_KEY=cca22d4ebdcf3623a87d8d5a4d5d2ffeeaee0faef7983933
PROVIDER_URL=https://numbros.shop/jj/tele

SUPABASE_URL=https://xiuoksxtuyzurpzxdcoi.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpdW9rc3h0dXl6dXJwenhkY29pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA0ODkzNzIsImV4cCI6MjA4NjA2NTM3Mn0.rg_4bBFBA9iAUF6rspOIfZ3u1jQqtb6cATvJq3cX9QI

# إعدادات إضافية
ADMIN_USERNAME=@AbdullahAishan
ENCRYPTION_KEY=asdfghjklzx@12345678910@#$%AWQTGH

NODE_ENV = production

